<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="h4 font-weight-normal">Stay in the loop for projects, events & updates!</h2>
				<form class="form-inline margin-y-sm" action="https://makersasylum.us10.list-manage.com/subscribe/post" method="post">
					<input type="hidden" name="u" value="97309616f8d550bf5cdba924a">
					<input type="hidden" name="id" value="608d805f56">
					<div class="form-group">
						<input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="your email address">
					</div><button type="submit" class="btn btn-primary" name="button">Submit</button>
				</form>
				<ul class="list-inline margin-y-sm">
					<li><a href="https://www.facebook.com/makersasylum" target="_blank"><img src="/assets/sm-ico-fb.svg" alt="Maker's Asylum on Facebook"></a></li>
					<li><a href="https://www.instagram.com/makersasylum/" target="_blank"><img src="/assets/sm-ico-in.svg" alt="Maker's Asylum on Instagram"></a></li>
					<li><a href="https://twitter.com/makersasylum" target="_blank"><img src="/assets/sm-ico-tw.svg" alt="Maker's Asylum on Twitter"></a></li>
					<li><a href="https://www.youtube.com/channel/UCIUVH68BgqNhgzXjXZTwDtg" target="_blank"><img src="/assets/sm-ico-yt.svg" alt="Maker's Asylum of YouTube"></a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="list-unstyled">
					<li><p><a href="">Team</a></p></li>
					<li><p><a href="">Careers</a></p></li>
					<li><p><a href="">Blog</a></p></li>
					<li><p><a href="">FAQ</a></p></li>
				</ul>
			</div>
	    <div class="col-md-3">
	      <h2 class="h4 font-weight-normal">Contact</h2>
	      <p><a href="mailto:info@makersasylum.com">info@makersasylum.com</a></p>
				<p><a href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
				<p>Visit us: <a href="">Mumbai</a> | <a href="">Delhi</a></p>
	    </div>
	  </div>
	</div>
</footer>
