<header class="container py-4">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="{{ site.logo }}" alt="Maker's Asylum Logo" width="180">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn</a>
          <div class="dropdown-menu">
            {% for item in site.menus.learn %}
              <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">S.T.E.A.M</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="http://steam.makersasylum.com/school" target="_blank">S.T.E.A.M School</a>
            <a class="dropdown-item" href="http://steam.makersasylum.com/fabrikarium" target="_blank">S.T.E.A.M Fabrikarium</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/projects">Projects</a>
            <a class="dropdown-item" href="http://discuss.makersasylum.com/" target="_blank">Discuss</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.facebook.com/pg/makersasylum/events/" target="_blank">Mumbai</a>
            <a class="dropdown-item" href="https://www.facebook.com/pg/makersasylumdelhi/events/" target="_blank">Delhi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/about-us/">About Us</a>
            <a class="dropdown-item" href="/our-story/">Our Story</a>
            <a class="dropdown-item" href="/team/">Team</a>
            <a class="dropdown-item" href="/faq">FAQ</a>
            <a class="dropdown-item" href="/press/">Press</a>
            <a class="dropdown-item" href="/contact/">Contact</a>
          </div>
        </li>
        <li><a href="https://membership.makersasylum.com/" class="btn btn-primary" target="_blank">Membership</a></li>
      </ul>
    </div>
  </nav>

</header>
