{% assign url = page.url | remove:'index.html' %}

<header class="container py-4">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="{{ '/' | absolute_url }}">
      <img src="{{ site.logo }}" alt="Maker's Asylum Logo" width="180">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% assign all_documents = site.documents | concat: site.pages %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for menu_item in site.data.navigation.menu_items %}
          {% if menu_item.internal_link %}
            {% assign page_object = site.pages | where: "path", menu_item.internal_link | first %}
            {% assign menu_item_url = page_object.url %}
          {% elsif menu_item.external_link %}
            {% assign menu_item_url = menu_item.external_link %}
          {% endif %}

          <li class="nav-item {% if menu_item.children %}dropdown{% endif %}">
            <a href="{{ menu_item_url }}" class="nav-link {% if menu_item.children %}dropdown-toggle{% endif %}" {% if menu_item.children %}data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ menu_item.title }}</a>

            {% if menu_item.children %}
              <div class="dropdown-menu">
                {% for child in menu_item.children %}
                  {% if child.template == "internal-link" %}
                    {% assign child_menu_item = all_documents | where: "path", child.page | first %}
                  {% elsif child.template == "external-link" %}
                    {% assign child_menu_item = child %}
                  {% endif %}

                  <a class="dropdown-item" href="{{ child_menu_item.url | absolute_url }}">{{ child_menu_item.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </li>
        {% endfor %}

        <li><a href="/memberships" class="btn btn-primary">Memberships</a></li>
      </ul>
    </div>
  </nav>

</header>
