<header class="banner navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="background-image: url('{{ site.logo }}')">
        <h1>{{ site.title }}</h1>
      </a>
    </div>

    <nav class="collapse navbar-collapse" role="navigation">
      <ul id="menu-main-menu" class="nav navbar-nav navbar-right">
        
      </ul>
    </nav>
  </div>
</header>
