// Global
.page-content {
  padding: 30px 0;
}

body a {
  cursor: pointer;
}

.container {
  max-width: 970px;
}

.row {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carousel-inner .item {
  height: 500px;
  overflow: hidden;
}

.carousel-inner .item img{
  width: 100%;
}

.carousel-caption a {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}

// Typography
body * {
  font-family: $base-font-stack;
  line-height: 150%;
}

h1, h2, h3, h4, h5, nav * {
  font-family: $heading-font-stack;
  line-height: 160%;
}

// Helper Classes
.text-black {
  color: black;
}

.background-yellow {
  background-color: $brand-primary;
}

section {
  margin-bottom: 80px;
}

hr.dark {
  border-width: 1px;
  border-color: black;
}

hr.dashed {
  border-style: dashed;
}

.media-object_thumbnail {
  max-height: 80px;
}

.grid-image-container {
  padding: 1rem 1rem;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.margin-y-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pad-x-sm {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pad-y-sm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-y-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.margin-top-none {
  margin-top: 0;
}

// Video Embeds
.fluid-width-video-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
