// Global
.container {
  max-width: 970px;
}

.page-content {
  margin-bottom: 30px;
}

.page-content img {
  max-width: 100%;
}

// Typography
body * {
  font-family: $base-font-stack;
  line-height: 150%;
}

h1, h2, h3, h4, h5, nav *,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $heading-font-stack;
  line-height: 160%;
}

// Helper Classes
.text-black {
  color: black;
}

.title {
  font-weight: 600;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: black;
  text-transform: uppercase;
  margin-bottom: map-get($spacers, 4);
}

.background-yellow {
  background-color: $brand-primary;
}

section {
  margin-bottom: 50px;
}

hr.dark {
  border-width: 1px;
  border-color: black;
}

.media-object_thumbnail {
  max-height: 80px;
}

.grid-image-container {
  padding: 1rem 1rem;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.margin-y-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}

.pad-x-sm {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pad-y-sm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-y-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.margin-top-none {
  margin-top: 0;
}

.square-image-container {
  overflow: hidden;
  position: relative;
  padding-top: 100%;
  height: 0;
}

.square-image {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.img-grayscale {
  filter: grayscale(100%);
}

.bg-white {
  background-color: white;
}

// Video Embeds
.fluid-width-video-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Tables
table {
  @extend .table;
}
