// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$theme-colors: (
  "primary": #fcbf15
);

$brand-primary:         #fcbf15;
$tundora:               #231f20;
$gray:                  #898989;
$ship-gray:             #414042;
$silver:                #cccccc;
$stitch:                #854a88;

// Typography
$heading-font-stack: 'Poppins', sans-serif;
$base-font-stack: 'Raleway', sans-serif;
