.btn {
  border-radius: 0;
}

.btn-default {
  border-color: black;
}

.btn-primary {
  color: white;
}

.btn-stitch {
  background-color: $stitch;
  color: white;
}

.im-checkout {
  color: white !important;
}

.im-checkout-btn {
  @extend .mx-auto;
  background: $brand-primary !important;
  border-color: #f4b503 !important;
  border-radius: 0 !important;
  color: white;
  padding: 8px;
  font-family: $base-font-stack !important;
}

.im-checkout-btn:hover,
.im-checkout:hover {
  color: white !important;
  text-decoration: none;
  background-color: #dba203 !important;
}

.im-checkout {
  display: inline-block;
  margin-bottom: 0 !important;
}
