.btn {
  border-radius: 0;
}

.btn-default {
  border-color: black;
}

.im-checkout-btn {
  @extend .center-block;
  background: $brand-primary !important;
  border-color: white !important;
  border-radius: 0 !important;
  color: black;
  padding: 8px;
  font-family: $base-font-stack !important;
}

.im-checkout-btn:hover {
  color: black !important;
}

.im-checkout {
  display: inline-block;
  margin-bottom: 0 !important;
}
