.newsletter {
  background-color: #fcbf15;
  padding: 1rem;
}
.newsletter .message {
  padding-left: 15px;
}
.newsletter h3 {
  display: inline-block;
  font-size: 1.8rem;
  padding: 3.95px 0;
  font-weight: 700;
  margin: 0;
  font-family: $base-font-stack;
}
.newsletter form {
  width: 100%;
}
.newsletter .form-group {
  margin-right: 1rem;
}
.newsletter h3,
.newsletter form .form-group * {
  font-size: 1.8rem;
  margin: 2px 0;
}
.newsletter form input {
  border-style: none;
}
.newsletter form button[type="submit"] {
  font-size: 1.8rem;
  padding: 3px 10px;
  border-color: $brand-primary;
  float: right;
}
.newsletter form button[type="submit"]:hover {
  background-color: white;
}
