---
layout: default
---

<div class="container">
  {% for block in page.page_sections %}
    {% assign template = block.template %}
    {% case template %}
    {% when 'banner' %}
      {% include blocks/banner.html %}
    {% when 'buttons' %}
      {% include blocks/buttons.html %}
    {% when 'title' %}
      {% include blocks/title.html %}
    {% when 'body-copy' %}
      {% include blocks/body-copy.html %}
    {% when 'images' %}
      {% include blocks/images.html %}
    {% when 'buckets' %}
      {% include blocks/buckets.html %}
    {% when 'people' %}
      {% include blocks/people.html %}
    {% when 'file-download' %}
      {% include blocks/file-download.html %}
    {% endcase %}
  {% endfor %}
</div>
