---
layout: default
---

<div class="container">
  <div id="carouselHome" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for post in page.featured %}
      <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
        <img src="{{ post.image }}" alt="{{ post.title }}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block p-2">
          <h2>
            <a href="{{ post.link }}">{{ post.title }}</a>
          </h2>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h2 class="pad-y-lg">Maker's Asylum is a community makerspace to get your hands dirty and make your ideas happen.</h2>
  {% if page.highlight.title %}
  <section id="highlight">
    <h2 class="title">{{ page.highlight.title }}</h2>
    {{ page.highlight.text | markdownify }}
    {% if page.highlight.button.link %}
    <p class="text-center">
      <a class="btn btn-default btn-lg font-weight-bold pad-sm text-uppercase" href="{{ page.highlight.button.link }}">{{ page.highlight.button.text }}</a>
    </p>
    {% endif %}
  </section>
  {% endif %}
  <section>
    <h2 class="title">LABS</h2>
    <p class="lead">
      {{ page['labs text'] }}
    </p>
    <div class="row">
      {% for lab in site.labs %}
      <div class="col-sm-6 col-md-3">
        <div class="homepage-lab">
          <div class="media-left">
            <img class="media-object media-object_thumbnail mx-auto" src="{{ lab.image }}" alt="{{ lab.title }}">
          </div>
          <div class="media-body">
            <h3 class="media-heading h5">{{ lab.title }}</h3>
            {% if lab['powered by'] %}
            <em>Powered By</em>
            <p>{{ lab['powered by'] }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <h2 class="title">Membership</h2>
    <div class="row">
      {% assign membership_page = site.pages | where:"title","Membership" %}
      {% for type in membership_page[0]['membership types'] %}
      <div class="col-xs-8 col-sm-4">
        <div class="square-image-container">
          <img src="{{ type.image }}" class="square-image" alt="{{ type.name }}">
        </div>
        <h3>{{ type.name }}</h3>
        {{ type.description | markdownify }}
      </div>
      {% endfor %}
    </div>
    <p class="text-center">
      <a class="btn btn-default btn-lg font-weight-bold pad-sm text-uppercase" href="/membership">BECOME A MEMBER</a>
    </p>
  </section>
  <section>
    <h2 class="title">PROJECTS <a href="/projects" class="float-right btn btn-primary">See All Projects</a></h2>
    <div class="row">
      {% for project in page['featured projects'] %}
      <div class="col-sm-4">
        <div class="homepage-project margin-bottom-sm">
          {% assign current_project = site.projects | where:"title", project.project %}
          <a href="{{ current_project[0].url }}"><div class="project-featured-image-sm" style="background-image: url({{ current_project.first.image }})"></div></a>
          <h3><a href="{{ current_project[0].url }}" style="color: black">{{ project.project }}</a></h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <h2 class="title">Video</h2>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//s1e7BHvgUXQ' frameborder='0' allowfullscreen></iframe></div>
  </section>
  <section>
    <h2 class="title">SPONSORS & PARTNERS</h2>
    <h3 class="text-center">SPONSORS</h3>
    <div class="row">
      {% for sponsor in page['sponsors'] %}
      <div class="col-sm-6 col-md-3 partner-thumb-container">
        <img src="{{ sponsor.image }}" class="img-fluid mx-auto" alt="{{ sponsor.name }}">
      </div>
      {% endfor %}
    </div>
    <h3 class="text-center">PARTNERS</h3>
    <div class="row">
      {% for partner in page['partners'] %}
      <div class="col-sm-6 col-md-3 partner-thumb-container">
        <img src="{{ partner.image }}" class="img-fluid mx-auto" alt="">
      </div>
      {% endfor %}
    </div>
  </section>
</div>
