---
layout: default
---

<div id="carousel-home" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for post in page.featured %}
    <div class="item {% if forloop.first == true %}active{% endif %}">
      <img src="{{ post.image }}" alt="{{ post.title }}">
      <div class="carousel-caption">
        <h2 class="h1">
          <a href="{{ post.link }}" rel="bookmark">{{ post.title }}</a>
        </h2>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <h2 class="h1 pad-y-lg font-weight-normal">Maker's Asylum is a community makerspace to get your hands dirty and make your ideas happen.</h2>
  <section>
    <h2 class="title">LABS</h2>
    <p class="lead">
      {{ page['labs text'] }}
    </p>
    <div class="row">
      {% for lab in site.labs %}
      <div class="col-sm-6 col-md-3">
        <div class="homepage-lab">
          <div class="media-left">
            <img class="media-object media-object_thumbnail center-block" src="{{ lab.image }}" alt="{{ lab.title }}">
          </div>
          <div class="media-body">
            <h3 class="media-heading h5">{{ lab.title }}</h3>
            {% if lab['powered by'] %}
            <em>Powered By</em>
            <p>{{ lab['powered by'] }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <h2 class="title">PROJECTS <a href="/projects" class="pull-right btn btn-primary">See All Projects</a></h2>
    <div class="row">
      {% for project in page['featured projects'] %}
      <div class="col-md-4">
        <div class="homepage-project margin-bottom-sm">
          {% assign current_project = site.projects | where:"title", project.project %}
          <a href="{{ current_project[0].url }}"><div class="project-featured-image-sm" style="background-image: url({{ current_project[0]['featured image'] }})"></div></a>
          <h3><a href="{{ current_project[0].url }}" style="color: black">{{ project.project }}</a></h3>
          {% assign current_member = site.members | where:"title", current_project[0].members.first %}
          <a href="{{ current_member[0].url }}" style="color: black;">{{ current_member[0].title }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="text-center">
      <a class="btn btn-default btn-lg font-weight-bold pad-sm text-uppercase" href="/membership">BECOME A MEMBER</a>
    </p>
  </section>
  <section>
    <h2 class="title">SPONSORS & PARTNERS</h2>
    <div class="row">
      <h3 class="text-center">SPONSORS</h3>
      {% for sponsor in page['sponsors'] %}
      <div class="col-sm-6 col-md-3 partner-thumb-container">
        <img src="{{ sponsor.image }}" class="img-responsive center-block" alt="{{ sponsor.name }}">
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <h3 class="text-center">PARTNERS</h3>
      {% for partner in page['partners'] %}
      <div class="col-sm-6 col-md-3 partner-thumb-container">
        <img src="{{ partner.image }}" class="img-responsive center-block" alt="">
      </div>
      {% endfor %}
    </div>
  </section>
</div>
