---
layout: default
---

<div class="container">
	<h1 class="title">{{ page.title }}</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="member-page-profile-picture-container">
				<img src="{{ page['profile picture'] }}" class="img-responsive" alt="">
			</div>
		</div>
		<div class="col-md-8">
			<div class="member-description">
				{{ content }}
			</div>
			<div class="member-contact pad-y-sm">
				<p>
					<a href="{{ page.website }}" target="_blank">{{ page.website }}</a>
					<a href="mailto:{{ page.email }}" class="member-email">{{ page.email | downcase }}</a>
					<a href="tel:{{ page.phone }}" class="member-phone">{{ page.phone }}</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>PROJECTS</h3>
		</div>
		{% for project in site.projects %}
		{% if project.members contains page.title %}
		<div class="col-md-4">
			<a href="{{ project.url }}"><div class="project-featured-image-sm" style="background-image: url({{ project['featured image'] }})"></div></a>
			<h4><a href="{{ project.url }}">{{ project.title }}</a></h4>
		</div>
		{% else %}
			{% continue %}
		{% endif %}
		{% endfor %}
	</div>
</div>
