---
layout: default
---

<div class="container">
  <section>
    <h2 class="title">Notice</h2>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ page['tools access'].description | markdownify }}</p>
      </div>
    </div>
  </section>
  <section>
    <h2 class="title">Plans</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Validity</th>
            <th>Tool access</th>
            <th>Community events</th>
            <th>Training on all tools</th>
            <th>Locker access</th>
            <th>Dedicated section</th>
            <th>Benefits</th>
            <th class="text-center">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% assign sorted_plans = site.membership-plans | sort: "position" %}
          {% for plan in sorted_plans %}
          <tr>
            <th>{{ plan.title }}</th>
            <td>{{ plan.validity }}</td>
            <td class="text-center">
              {% if plan['has tool access'] %}
              <span class="glyphicon glyphicon-ok"></span>
              {% endif %}
            </td>
            <td class="text-center">
              {% if plan['has community events'] %}
              <span class="glyphicon glyphicon-ok"></span>
              {% endif %}
            </td>
            <td class="text-center">
              {% if plan['has training on all tools'] %}
              <span class="glyphicon glyphicon-ok"></span>
              {% endif %}
            </td>
            <td>{{ plan['locker access'] }}</td>
            <td class="text-center">
              {% if plan['has dedicated section'] %}
              <span class="glyphicon glyphicon-ok"></span>
              {% endif %}
            </td>
            <td>{{ plan.benefits }}</td>
            <td class="text-center">{{ plan.price }}</td>
            <td>
              {% if plan.link %}
                <a href="{{ plan.link }}" target="_blank">Select Plan</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          <tr style="height: 2em;"></tr>
          <tr class="locker-rental">
            <th rowspan="2">Locker Rental</th>
            <td>1 Day</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
            <td></td>
            <td></td>
            <td class="text-center">₹50</td>
          </tr>
          <tr class="locker-rental">
            <td>1 Month</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
            <td></td>
            <td></td>
            <td class="text-center">₹1000</td>
          </tr>
        </tbody>
      </table>
    </div>
    {{ page['membership types text'] | markdownify }}
  </section>

  <div class="section" id="membership-tools">
    <h3>{{ page['tools access'].title }}</h3>
    <div class="row">
      {% for lab in site.labs %}
      <div class="col-md-3 text-center">
        <div class="tool-image center-block">
          <img src="{{ lab.image }}" class="img-responsive" alt="{{ lab.title }}">
        </div>
        <h4 >{{ lab.title }}</h4>
        <p>{{ lab['free hours'] }}</p>
        <p>{{ lab['extra time price'] }}</p>
        {% if lab['powered by'] %}
        <p><small>Powered By</small></p>
        <strong>{{ lab['powered by'] }}</strong>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
