---
layout: default
---

<div class="container">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="container">
  <div class="section">
    {% for type in page['membership types'] %}
    <div class="row margin-bottom-sm">
      <div class="col-md-3">
        <div class="square-image-container">
          <img src="{{ type.image }}" class="square-image" alt="{{ type.name }}">
        </div>
      </div>
      <div class="col-md-9 membership-info">
        <h3 class="margin-top-none">{{ type.name }}</h3>
        <p>{{ type.description | markdownify }}</p>
        <hr class="dark">
        <p class="membership-benefits">
          <strong>Benefits</strong>: {{ type.benefits | markdownify }}
        </p>
        {% if type['is available'] == false %}
        <p>CURRENTLY NOT AVAILABLE</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="margin-bottom-sm text-center">
    <a href="http://139.59.25.220/AntsConnect/UserReg/" target="_blank" class="btn btn-primary btn-lg">Sign Up</a>
    <a href="http://139.59.25.220/AntsConnect/UserReg/login.php" target="_blank" class="btn btn-primary btn-lg">Login</a>
  </div>
  {{ page['membership types text'] | markdownify }}

  <hr class="dark">

  <div class="section" id="membership-tools">
    <h3>{{ page['tools access'].title }}</h3>
    <div class="row">
      {% for lab in site.labs %}
      <div class="col-md-3 text-center">
        <div class="tool-image center-block">
          <img src="{{ lab.image }}" class="img-responsive" alt="{{ lab.title }}">
        </div>
        <h4 >{{ lab.title }}</h4>
        <p>{{ lab['free hours'] }}</p>
        <p>{{ lab['extra time price'] }}</p>
        {% if lab['powered by'] %}
        <p><small>Powered By</small></p>
        <strong>{{ lab['powered by'] }}</strong>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ page['tools access'].description | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
