---
layout: default
---

<div class="container">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>

  {% for block in page.page_sections %}
    {% assign template = block.template %}
    {% case template %}
    {% when 'body-copy' %}
      {% include blocks/body_copy.html %}
    {% when 'members' %}
      {% include blocks/members.html %}
    {% when 'title' %}
      {% include blocks/title.html %}
    {% when 'buckets' %}
      {% include blocks/buckets.html %}
    {% when 'buttons' %}
      {% include blocks/buttons.html %}
    {% endcase %}
  {% endfor %}
</div>
