---
layout: default
---

<div class="container">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="{{ page['featured image'] }}" data-fancybox="group">
        <div id="project-featured-image" class="project-featured-image-lg" style="background-image: url({{ page['featured image'] }})"></div>
      </a>
    </div>
    <div class="col-md-6">
      <div class="member-description">
        {{ content }}
      </div>
      {% unless page.members == empty %}
      <div class="member-contact pad-y-sm">
        <h3 class="h5">Team:</h3>
        <p>
          {% for member in page.members %}
            {% assign current_member = site.members | where:"title", member %}
            {% if current_member == '' %}
              {% if page.members.size <= 1 or page.members.last == member %}
              <a href="{{ current_member[0].url }}">{{ member }}</a>
              {% else %}
              <a href="{{ current_member[0].url }}">{{ member }},</a>
              {% endif %}
            {% else %}
              {% if page.members.size <= 1 or page.members.last == member %}
                {{ member }}
              {% else %}
                {{ member }},
              {% endif %}
            {% endif %}
          {% endfor %}
        </p>
      {% endunless %}
      {% if page['contact email'] %}
        <h3 class="h5">For more information, write to:</h3>
        <a href="mailto:{{ page['team']['contact email'] }}">{{ page['team']['contact email'] }}</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% if page['videos'] %}
  {% for video in page['videos'] %}
  <a href="{{ video }}" data-fancybox="group"></a>
  {% endfor %}
  {% endif %}
  {% if page['pictures'] %}
  {% for picture in page['pictures'] %}
  <a href="{{ picture }}" data-fancybox="group"></a>
  {% endfor %}
  {% endif %}
</div>
