---
layout: default
---

<div class="container">
  <h1 class="title">{{ page.title }}</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="project-featured-image-lg" style="background-image: url({{ page['featured image'] }})"></div>
    </div>
    <div class="col-md-6">
      <div class="member-description">
        {{ content }}
      </div>
      <div class="project-contact pad-y-sm">
				{% if page['team']['members'][0] %}
        <h3 class="h5">Team:</h3>
        <p>
          {% unless page['members'] == empty %}
            {% for member in page['members'] %}
              {% assign current_member = site.members | where:"title", member %}
              <a href="{{ current_member[0].url }}">{{ member | prepend: ', ' }}</a>
            {% endfor %}
          {% endunless %}
        </p>
				{% endif %}
        {% if page['team']['contact email'] %}
        <h3 class="h5">For more information, write to:</h3>
        <a href="mailto:{{ page['team']['contact email'] }}">{{ page['team']['contact email'] }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    {% unless page['video iframes'] == empty %}
    <div id="fluid-width-video-wrapper" class="col-md-12">
      {% for video in page['video iframes'] %}
        {{ video }}
      {% endfor %}
    </div>
    {% endunless %}
    {% unless page['pictures'] == empty %}
    <div class="col-md-12">
      {% for picture in page['pictures'] %}
        <img src="{{ picture }}" class="img-responsive center-block margin-y-sm" alt="">
      {% endfor %}
    </div>
    {% endunless %}
  </div>
</div>
