---
layout: default
---

<div class="container">
  <h1 class="title">Projects</h1>
  <div class="row">
    {% for project in site.projects %}
    <div class="col-md-4 margin-y-sm project-card">
      <a href="{{ project.url }}"><div class="project-featured-image-sm" style="background-image: url({{ project['featured image'] }})"></div></a>
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      {% assign current_member = site.members | where:"title", project.members.first %}
      <a href="{{ current_member[0].url }}" style="color: black;">{{ current_member[0].title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
