---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1><span class="color-stitch">Innovation.</span> Implemented</h1>
    <h2>That’s the new buzz word <span class="color-stitch">globally.</span></h2>
  </div>
</div>
<div class="container">
  <p>
    Today, most of the innovation comes from high-tech labs and research centres. We’d like to see a world where ideas that shape the future come from our kids. After all, they have the most imaginative minds. We’re sure, you agree. And so, we are launching STiTCH - a hackathon that encourages kids to express their innovation through hands-on and interdisciplinary learning.
  </p>
  <section>
    <h2 class="title">STiTCH. <span class="color-stitch text-uppercase">Explained</span></h2>
    {{ content }}
  </section>
  <section>
    <h2 class="title">STiTCH. <span class="color-stitch text-uppercase">5 Principles</span></h2>
    {{ page.principles.text | markdownify }}
    <div class="row stitch-principles">
      {% for principle in page.principles.principle %}
      <div class="col-md-6">
        <h3>0{{ forloop.index }} <small>{{ principle.name }}</small></h3>
        {{ principle.description | markdownify }}
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <h2 class="title">STiTCH. <span class="color-stitch text-uppercase">Schedule</span></h2>
    <div class="table-responsive">
      <table class="table">
        <caption>Please find below the detailed schedule of the hackathon. The material required for the workshop will be provided by the us.</caption>
        <tbody>
          <tr>
            <th rowspan="3" scope="rowgroup"><span class="color-stitch">Day 1</span> (2pm - 6pm)</th>
            <td>Introduction to hackathon</td>
            <th rowspan="3" scope="rowgroup">Afternoon</th>
          </tr>
          <tr>
            <td>Form Teams, Timelines & Schedules</td>
          </tr>
          <tr>
            <td>Introduction to available resources and demos</td>
          </tr>
          <tr>
            <th rowspan="5" scope="rowgroup"><span class="color-stitch">Day 2</span> (9.30am - 5pm)</th>
            <td>Design Thinking</td>
            <th rowspan="2" scope="rowgroup">Morning</th>
          </tr>
          <tr>
            <td>Paper Prototyping</td>
          </tr>
          <tr>
            <td>Testing</td>
            <th rowspan="3" scope="rowgroup">Afternoon</th>
          </tr>
          <tr>
            <td>Prototyping using kits</td>
          </tr>
          <tr>
            <td>Elevator Pitch to Mentors + Review</td>
          </tr>
          <tr>
            <th rowspan="3" scope="rowgroup"><span class="color-stitch">Day 3</span> (9.30am - 5pm)</th>
            <td>Testing</td>
            <th rowspan="1" scope="rowgroup">Morning</th>
          </tr>
          <tr>
            <td>Final Prototyping</td>
            <th rowspan="2" scope="rowgroup">Afternoon</th>
          </tr>
          <tr>
            <td>Presentation</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="container">
    <h2 class="h3">This workshop is aimed at school students from Grade 7 to Grade 9 students and is charged INR 10,000. The materials required for this workshop will be provided. A certificate of completion will also be given at the end of the workshop.</h2>
  </div>
</div>
