---
layout: default
---

<div class="container">
  <div id="story">
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/238111247' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    <ul class="cbp_tmtimeline">
      <li>
        <div class="cbp_tmtime"></div>
        <div class="cbp_tmicon"></div>
        <div class="cbp_tmlabel">
          <h1>Our Story</h1>
        </div>
      </li>
      {% for version in page.versions %}
      <li>
        <div class="cbp_tmtime"><img src="{{ version.image }}" alt="{{ version.title }}"></div>
        <div class="cbp_tmicon"></div>
        <div class="cbp_tmlabel">
          <h2 class="h3">{{ version.title }}</h2>
          {{ version.description }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
