---
layout: default
---

<div class="container">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
  <h2>“Individuals can and do make a difference, but it takes a team to really mess things up.”</h2>
  <div class="row">
    {% assign members = site.members | where:"member type","Team" | sort:"position" %}
    {% for member in members %}
    <div class="col-md-4 margin-y-sm">
      <div class="member-profile-picture-container">
        <img src="{{ member['profile picture'] }}" class="img-responsive" alt="{{ member.title }}">
      </div>
      <h3><a href="{{ member.url }}" class="text-black">{{ member.title }}</a></h3>
      <h4>{{ member.designation }}</h4>
    </div>
    {% endfor %}
  </div>
  {% assign leads = site.members | where:"member type","Lab Lead" | sort:"position" %}
  {% unless leads == empty %}
  <h2 class="title">Lab Leads</h2>
  <div class="row">
    {% for lead in leads %}
    <div class="col-md-4 margin-y-sm">
      <div class="member-profile-picture-container">
        <img src="{{ lead['profile picture'] }}" class="img-responsive" alt="{{ lead.title }}">
      </div>
      <h3><a href="{{ lead.url }}" class="text-black">{{ lead.title }}</a></h3>
      <h4>{{ lead.designation }}</h4>
    </div>
    {% endfor %}
  </div>
  {% endunless %}
</div>
