footer {
  background-color: black;
  color: white;

  a {
    color: white;
  }

  .form-group {
    width: 70%;
  }

  form.form-inline input.form-control {
    background-color: $gray-dark;
    border: 0;
    border-radius: 0;
    width: 100%;
  }
}
