// Navbar
.navbar {
  background: #fff;
  border-bottom: none;

  .navbar-brand {
    width: 190px;
    height: 85px;
    margin: 0;
    background-image: url('../images/logo.svg');
    background-size: 190px 85px;
  }

  .navbar-brand h1 {
    font-size: 0px;
    color: transparent;
  }

  .navbar-right {
    margin-right: 0;
  }
}

.navbar-header {
  margin-top: 20px;
}

.navbar-default .navbar-nav > li {
  font-size: 1.8rem;
  padding-top: 29px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $brand-primary;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:hover {
  color: $brand-primary;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a.btn-primary,
.navbar-default .navbar-nav > li > a.btn-primary:hover {
  font-size: 1.8rem;
  color: white;
  background-color: $brand-primary;
}

.page-header {
  border-bottom: none;

  h1 {
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: black;
  }
}

.carousel-inner .item {
  height: 500px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.carousel-caption a {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}

@media (max-width: 724px) {
  .navbar .navbar-brand {
    margin-left: 15px;
  }

  .carousel-inner .item {
    height: 200px;

    h2 {
      font-size: 125%;
    }
  }
}

@media (min-width: 725px) and (max-width: 1024px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
  }

  .carousel-inner .item {
    height: 400px;
  }
}
