// Global
.page img {
  @include img-fluid();

  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Home Page Highlight
#highlight {
  p {
    @extend .lead;
  }
}

// Home Page Labs
.homepage-lab {
  .media-left {
    min-width: 100px;
  }

  .media-body {
    vertical-align: middle;

    p {
      margin-bottom: 0;
    }
  }
}

// Home Page Partners Section
.partner-thumb-container {
  align-items: center;
  display: flex;
  height: 200px;

  img {
    max-height: 180px;
    max-width: 180px;
  }
}

// Story
.story .wrap.container {
  max-width: 1160px;
}

.cbp_tmtimeline {
  list-style: none;
  margin: 30px auto 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.cbp_tmtimeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background: black;
  left: 50%;
  margin-left: -10px;
}

.cbp_tmtimeline > li {
  position: relative;
  min-height: 110px;
}

.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 50%;
  padding-right: 60px;
  position: absolute;
}

.cbp_tmtimeline > li > div:nth-child(1) > img:nth-child(1) {
  width: 100%;
  height: 100%;
}

.cbp_tmtimeline > li .cbp_tmtime img {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 55%;
  background: #fbbf14;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
  margin-top: 0;
  padding: 0 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cbp_tmtimeline > li .cbp_tmlabel::after {
  right: 100%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #fbbf14;
  border-width: 10px;
  top: 10px;
}

.cbp_tmtimeline > li .cbp_tmicon {
  width: 15px;
  height: 15px;
  font-family: "ecoico";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: black;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  top: 0;
  margin: 0 0 0 -15px;
}

// Press Page
.press h3 {
  background-color: $brand-primary;
  color: white;
  font-weight: 600;
  padding: 10px 5px;
}

.press h3:hover {
  background-color: transparentize($brand-primary, 0.2);
}

// Team Page
.team article {
  padding: 15px;
}

@include media-breakpoint-up(md) {
  .team .team-member:nth-of-type(3n + 1) {
    clear: left;
  }
}

@include media-breakpoint-down(xs) {
  .team-member h3,
  .team-member h4 {
    text-align: center;
  }

  .team img {
    margin: auto;
  }
}

// Membership Page

.membership .table > thead > tr > th {
  vertical-align: top;
}

.membership .table tbody th {
  background-color: #6d6e71;
  color: white;
  font-weight: normal;
  vertical-align: middle;
}

.membership .table tbody td {
  background-color: #fdc012;
  border-color: white;
  vertical-align: middle;
}

.membership .table tbody td:nth-last-of-type(2) {
  background-color: black;
  color: white;
}

.membership .table tbody td:last-of-type {
  background-color: #fdc012;
  width: 12%;
  text-align: center;
}

.membership .table tbody td:last-of-type a {
  color: white;
  text-decoration: underline;
}

.membership .table .locker-rental th {
  background-color: black;
  color: #fdc012;
}

.membership .table .locker-rental td {
  background-color: #6d6e71;
  color: white;
}

.membership .table .locker-rental td:last-of-type {
  background-color: #fdc012;
  color: black;
}

#membership-tools {
  .tool-image {
    height: 150px;
    max-width: 150px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10%;

    img {
      max-height: 108px;
    }
  }
}

// Member Archive Page
.member-profile-picture-container {
  height: 293px;
  overflow: hidden;
}

// Single Member
.member-description {
  box-sizing: content-box;
  padding-bottom: 2rem;
}

.member-page-profile-picture-container {
  max-height: 293.33px;
  overflow: hidden;
}

.member-contact {
  border-top: 2px solid black;
}

.member-contact a {
  display: inline-block;
}

.member-contact a:first-of-type {
  padding-left: 0;
}

.member-email,
.member-phone {
  border-left: 1px solid black;
}

// Single Project Page
.project-featured-image-lg {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.project-featured-image-sm {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.project-featured-image-xs {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

#project-featured-image {
  position: relative;
}

#project-featured-image::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  height: 35px;
  width: 160px;
  background-image: url("/assets/album-btn.png");
  background-repeat: no-repeat;
}

// Project Archive Page
.project-card:nth-of-type(3n + 1) {
  clear: left;
}

@media (max-width: 768px) {
  // Home Page Labs
  .homepage-lab {
    margin-bottom: 20px;
  }
}

// Stitch page
.stitch section {
  margin-bottom: 30px;
}

.stitch-principles h3 {
  margin-top: 0;
}

.stitch-principles .col-md-6:last-of-type {
  clear: left;
}
