// Pages
.page-header {
  border-bottom: 0;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;

  h2 {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 5px;
  }
}

.membership {
  .panel-heading {
    background: $brand-primary;
  }
}

//Front page
.front-page-sections ul {
  list-style-type: none;
  padding: 0;
}

.home {
  h2 {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 5px;
  }

  .tagline {
    padding: 10px 0;

    h2 {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

section > h2,
.title {
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: black;
  // border-image: repeating-linear-gradient(-50deg, black, black 20px, $brand-primary 21px, $brand-primary 40px) 20;
  padding-bottom: 10px;
}

// Story
.story .wrap.container {
  max-width: 1160px;
}

.cbp_tmtimeline {
  list-style: none;
  margin: 30px auto 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	background: black;
	left: 50%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
	min-height: 110px;
}

.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 50%;
	padding-right: 60px;
	position: absolute;
}

.cbp_tmtimeline > li > div:nth-child(1) > img:nth-child(1) {
	width: 100%;
	height: 100%;
}

.cbp_tmtimeline > li .cbp_tmtime img {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 55%;
	background: #FBBF14;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #FBBF14;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li .cbp_tmicon {
	width: 15px;
	height: 15px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: black;
	border-radius: 50%;
	text-align: center;
	left: 50%;
	top: 0;
	margin: 0 0 0 -15px;
}

.partner-thumb-container {
  align-items: center;
  display: flex;
  height: 200px;

  img {
    max-height: 180px;
    max-width: 180px;
  }
}

// Press Page
.press h3 {
  background-color: $brand-primary;
  color: white;
  font-weight: 600;
  padding: 10px 5px;
}

.press h3:hover {
  background-color: transparentize($brand-primary, .2);
}

// Team Page
.team article {
  padding: 15px;
}

.core article:nth-of-type(even),
.advisors article:nth-of-type(even),
.champions article:nth-of-type(even),
.alumni article:nth-of-type(even) {
  clear: right;
}

.core article:nth-of-type(odd),
.advisors article:nth-of-type(odd),
.champions article:nth-of-type(odd),
.alumni article:nth-of-type(odd) {
  clear: left;
}

.team .profile-header img {
  height: 120px;
  width: 120px;
}

//Partners Page
.partners h2 {
  font-size: 2.4rem;
}

// Membership Page

#carousel-membership {
  .item {
    max-height: 500px;
  }

  .item::before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.membership-info {
  position: relative;
  height: 260px;
  max-height: 260px;

  .im-checkout {
    position: absolute;
    bottom: 0;
  }
}

#membership-tools {
  .tool-image {
    height: 150px;
    max-width: 150px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10%;

    img {
      max-height: 108px;
    }
  }
}

// Member Archive Page
.member-profile-picture-container {
  height: 293px;
  overflow: hidden;
}

// Single Member
.member-description {
  font-size: 130%;
  box-sizing: content-box;
  border-bottom: 2px solid black;
}

.member-page-profile-picture-container {
  max-height: 293.33px;
  overflow: hidden;
}

.member-contact a {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

.member-contact a:first-of-type {
  padding-left: 0;
}

.member-email,
.member-phone {
  border-left: 1px solid black;
}

// Project Archive Page

.project-card {
  height: 489px;
  max-height: 489px;
}

// Single Project Page
.project-featured-image-lg {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.project-featured-image-sm {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.project-featured-image-xs {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
