// Events Page
#events {
  font-size: 1.3rem;
}
#events .col-sm-4 {
  padding: 5px;
}
#events .panel {
  border: 1px solid #cccccc;
}
#events .panel .pull-left {
  display: block;
  width: 100%;
}
#events .panel-heading {
  height: 56px;
}
#events .panel-body {
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}
#events .panel-footer {
  height: 101px;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}
