// Layout
.container {
  max-width: 970px;
}
.row {
  margin-bottom: 20px;
}

// Typography
body {
  font-size: 16px;
}
body * {
  font-family: $base-font-stack;
}

h1, h2, h3, h4, h5, nav * {
  font-family: $heading-font-stack;
}

// Helper Classes
.background-yellow {
  background-color: $brand-primary;
}

.section {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
