// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #fcbf15;
$tundora:               #231f20;
$gray:                  #898989;
$ship-gray:             #414042;
$silver:                #cccccc;

// Typography
$heading-font-stack: 'Titillium Web', sans-serif;
$base-font-stack: 'Lato', sans-serif;
